#jinja2: tim_blocks: False
{% set allones = "255.255.255.255" | ipaddr('int') %}
ip access-list ext LocalPrefixes
{% for interface in interfaces %}
 {% set netmask = interface.ip | ipaddr('netmask') | ipaddr('int') %}
 {% set inverse = allones - netmask %}
 {% set prefix = interface.ip | ipaddr('address') %}
 permit {{interface.ip | ipaddr('subnet') | regex_replace('/.*',"") | ipaddr('address')}} {{inverse | ipaddr('address')}}
{% endfor %}
