
{{passwords|dictsort}}
{{passwords.keys()|sort|join(", ")}}

{% for username in passwords.keys() %}
user {{username}} password {{passwords.username}} 
{% endfor %}

{% for username,password in passwords.items() %}
{% if loop.first %}
! Local user database
{% endif %}
user {{username}} password {{password}}
{% if loop.last %}
Total users: {{passwords|count}}
{% endif %}
{% endfor %}
