{% for name,vlan in vlans|dictsort %}
vlan {{vlan}} 
 name {{description}}
{% endfor %}
!
{% for name,intf in interfaces|dictsort %}
interface {{name}}
 switchport access vlan {{vlans[intf.vlan].id}}
{% endfor %}
