{% if hostname.find(".") > 0 %}
hostname {{hostname.partition(".")[0]}}
ip domain-name {{".".join(hostname.split(".")[1::])}}
{% else %}
hostname {{hostname}}
{% endif %}
{% set host = hostname.split(".")[0] %}
{% set idx = host.partition("-")[2] | int %}
{% if idx %}
router bgp {{65530 + idx}}
{% endif %}

