{% for device in devices %}
hostname {{device.hostname}}
!
interface loopback 0
 ip address {{device.loopback}} 255.255.255.255
!
{%  for interface in device.interfaces %}
interface {{interface}}
 no shutdown
{%  endfor %}
{% endfor %}
