{% for username in usernames %}
username {{username.username}} privilege {{username.privilege|default(2)}} password {{username.password}}
{% if username.autocommand %}
username {{username.username}} auto-command {{username.autocommand}}
{% endif %}
{% endfor %}
