{% for peer in bgp_peers %}
{%  if peer.prefixes %}
{%    for prefix in peer.prefixes %}
ip prefix-list bgp-neighbor-{{peer.address}} seq {{loop.index * 10}} {{prefix}}
{%    endfor %}
{%  endif %}
{% endfor %}

router bgp 64000
{% for peer in bgp_peers %}
{%  if peer.state == "absent" %}
no neighbor {{peer.address}}
{%  else %}
neighbor {{peer.address}} remote-as {{peer.asn}}
neighbor {{peer.address}} description {{peer.description}}
{% if peer.policy %}
neighbor {{peer.address}} route-map {{peer.policy}} in
{% endif %}
{% if peer.prefixes %}
neighbor {{peer.address}} prefix-list bgp-neighbor-{{peer.address}} in
{% endif %}
{% if peer.state == "down" %}
neighbor {{peer.address}} shutdown
{% endif %}
{% endif %}
{% endfor %}
