hostname {{hostname}}
!
interface loopback 0
 ip address {{loopback}} 255.255.255.255
!
banner motd #
{{banner}}
#
!
{% for interface in interfaces %}
interface {{interface.name}}
 ip address {{interface.address | ipaddr('address')}} {{interface.address | ipaddr('netmask')}}
{% endfor %}
!
{% for peer in neighbors %}
{%  if peer.prefixes is defined %}
{%  for prefix in peer.prefixes %}
ip prefix-list bgp-neighbor-{{peer.address}} seq {{loop.index * 10}} permit {{prefix}}
{%  endfor %}
{%  endif %}
{% endfor %}
!
router bgp {{asn}}
{% for peer in neighbors %}
neighbor {{peer.address}} remote-as {{peer.asn}}
neighbor {{peer.address}} description {{peer.description}}
{% if peer.policy is defined %}
neighbor {{peer.address}} route-map {{peer.policy}} in
{% endif %}
{% if peer.prefixes is defined %}
neighbor {{peer.address}} prefix-list bgp-neighbor-{{peer.address}} in
{% endif %}
{% if peer.state is defined %}
{% if peer.state == "absent" %}
no neighbor {{peer.address}}
{% elif peer.state == "down" %}
neighbor {{peer.address}} shutdown 
{% endif %}
{% endif %}
{% endfor %}

